body {
  background-color: #EDC79B;
  margin-top: 200px;
}

#form-echeck{
display:none;

}
#form-creditCard{
  display:none;

}

#form-payPal{
  display:none;
}

.delete{
  text-decoration: underline;
  color:#CA6680;
float: right;
}

.btn{
  background-color: #CA6680;
  color:white;
  width: 50%;

}

.payments{
  width:auto !important;
}



.footer {
  background-color: #D57A66;
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: left;
}

.toplogo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  padding: 0;
  left: 42%;

}

#triangle-left {
  width: 350px;
  height: 200px;
  background: linear-gradient(to bottom right, rgba(99, 163, 117) 0%, rgba(99, 163, 117) 50%, rgba(255, 0, 0, 0)50%, rgba(255, 0, 0, 0) 100%);
  display: inline-flex;
  padding: 20px 0 0 40px;
  position: fixed;
  top: 0;
}

#triangle-right {
  width: 350px;
  height: 200px;
  background: linear-gradient(to bottom left, rgba(99, 163, 117) 0%, rgba(99, 163, 117) 50%, rgba(255, 0, 0, 0)50%, rgba(255, 0, 0, 0) 100%);
  display: inline-flex;
  float: right;
  padding: 20px 0 0 140px;
  position: fixed;
  top: 0;
  right: 0;
}

#first{
  font-size: 15pt;
  text-align: center;

}

.pics{
  float: right;
  display: block;
  width: 300px;
  margin-left: 25px;
}

.about{
  margin-bottom: 20px;
}

#last{
  padding-bottom: 150px;
}

.wrapper{
  width: 800px;
  display: block;
  margin: auto;
}

.contact-text{
margin:18px;
line-height: 10px;
}

a{
  color: white;
}

a:hover{
  color:black;
}

#bottomlogo{
width: 100px;
float: right;
display: inline-block;
margin-right: 5%;

}
.signup{
  height:650px;
}

.donate{
  height:900px;
}

@media only screen and (max-width: 819px) {
  .wrapper{
    width: 400px;
    display: block;
    margin: auto;
  }

  #triangle-right {
    width: 50%;
    height: 100px;
    left: 50%;
    padding-left: 25%;


  }

  #triangle-left {
    width: 50%;
    height:100px;
    padding-left: 10px;

  }

  .toplogo {
    width: 95px;
    height: auto;
    top: 0;
    padding: 0;
    left: 38%;

  }

  .pics{
    width: 100%;
    margin-bottom: 15px;
  }

  .btn{
    margin-left: 90px !important;
  }


  .signup{
    height:900px;
  }

}


/* Paypal */
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.paypal-logo {
  font-family: Verdana, Tahoma;
  font-weight: bold;
  font-size: 26px;
}
.paypal-logo i:first-child {
  color: #253b80;
}
.paypal-logo i:last-child {
  color: #179bd7;
}
.paypal-button {
  padding: 15px 30px;
  border: 1px solid #ff9933;
  border-radius: 5px;
  background-image: linear-gradient(#fff0a8, #f9b421);
  margin: 0 auto;
  display: block;
  min-width: 138px;
  position: relative;
}
.paypal-button-title {
  font-size: 14px;
  color: #505050;
  vertical-align: baseline;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
}
.paypal-button .paypal-logo {
  display: inline-block;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  font-size: 20px;
}


@media only screen and (min-width: 820px) {
  .wrapper{
    width: 600px;
    display: block;
    margin: auto;
  }
}
